.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

 /* Initial state: hidden and transparent */
 .fade-in {
    opacity: 0;
    transition: opacity 10s ease-in-out; /* Adjust duration as needed */
}

/* Final state: fully visible */
.visible {
    opacity: 1;
}
